form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
}
.logo{
    display: block;
        margin-left: auto;
        margin-right: auto;
        width: 700px;    
} 
.indexbuttons{
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    font-weight:bold;
    font-size: large;
    background-color: rgb(17, 114, 210);
    color: aliceblue;
    border: 0px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);     
}
.indexbuttons:hover{
    background-color:rgb(0, 92, 184) ;
    
}
@media screen and (max-width: 425px){
    form{
        flex-direction: column;
    }
}