.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}
table{
    margin: auto;
}

td, th{
    text-align: center;
    padding: 5px 10px;
}
th{
    color: rgb(2, 98, 207);
}
h2{
    margin: auto;
    text-align: center;
}