<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'company_display.css') }}">
    <title>Document</title>
</head>
<body>

    <h3>Company : {{ company }}</h3>

    <table>
        <tr>
            <th>Student Name</th>
            <th>Class</th>
            <th>Internship Type</th>
            <th>Internship Mode</th>
            <th>Duration</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
        {% for d in data %}

        <tr>
            <td>{{ d["student"] }}</td>  
            <td>{{ d["class"] }}</td>
            <td>{{ d["type"] }}</td>
            <td>{{ d["mode"] }}</td>
            <td>{{ d["duration"] }}</td>
            <td>{{ d["start date"] }}</td>
            <td>{{ d["end date"] }}</td>
        
        </tr>
        {% endfor %}
    </table>



</body>
</html>