<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Hello {{ student_name }}</h1>

    <form action="{{ url_for('logout') }}" method="get">
        <button type="submit">Logout</button>
    </form>
    
    <div id="internships">
        <h3>Your Internships</h3>
        <form action="{{ url_for('add_new_internship') }}" method="get">
            <button type="submit">Request Internship</button>
        </form>
        <ul>
            {% for item in data %}
                <li> <button disabled> {{ item.internship.organization }}</button> status: {{ item.internship.status }}
                {% if item.status %}
                <a href="#">Upload offer letter</a>
                {% endif %}
                </li>
            {% endfor %}

        </ul>
    </div>
</body>
</html>