<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    <title>Dashboard</title>
</head>
<body>
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="no img found" class="logo">
    <div class="header">
    <h1>Hello {{ student_name }}</h1>


    <form action="{{ url_for('logout') }}" method="get">
        <button type="submit" class="button">Logout</button>

    </form>
    </div>
    
    <div id="internships">

        <div class="request">
        <h2>Your Internships : </h2>
        <form action="{{ url_for('add_new_internship') }}" method="get">
            <button type="submit"  class="button">Request Internship</button>

        </form>
        </div>
        <ul style="padding: 20px; margin: 0px;">
            {% for item in data %}
                <li class="list"> 
                    <p > {{ item.internship.organization }}  status: {{ item.internship.status }}</p> 
                {% if item.status %}
                    {% if item.has_offer_letter %}
                        <p>Offer Letter: Submitted</p>
                    {% else %}

                        <a href="{{ url_for('upload_file',internship_id = item.internship.internship_id) }}">• Upload offer letter →</a>

                    {% endif %}
                    {% if item.is_completed %}
                    
                    {% if item.has_certificate %}
                        <p>Certificate: Submitted</p>
                    {% else %}

                        <a href="{{ url_for('upload_certificate', internship_id = item.internship.internship_id) }}">• Submit Completion Certificate →</a>

                    {% endif %}
                        
                        {% if item.has_report %}
                            <p>Report: Submitted</p>

                        {% else %}
                            <a href="{{ url_for('report_form', internship_id = item.internship.internship_id) }}">• Submit Internship Report →</a>

                        {% endif %}
                        
                        {% if item.has_feedback %}
                            <p>Feedback: Submitted</p>

                        {% else %}
                            <a href="{{ url_for('feedback_form',internship_id = item.internship.internship_id) }}">• Submit Internship Feedback →</a>

                        {% endif %}
                        {% endif %}
                {% endif %}
                
                </li><br>
            {% endfor %}

        </ul>
    </div>
</body>
</html>