<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="internship-view">
        <table>
            <tr>
                <th>Student Name</th>
                <td>{{ student.name }}</td>
                <th>Academic Year:</th>
                <td>{{ internship.year }}</td>
                <th>Status</th>
                <td>{{ internship.status }}</td>
            </tr>
            <tr>


                <th>Class</th>
                <td>{{ internship.std_class }}</td>
                <th>Email</th>
                <td>{{ student.email }}</td>
            </tr>
            <tr>
                <th>Organization</th>
                <td>{{ internship.organization }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ internship.duration }} Weeks</td>
                <th>Start Date</th>
                <td>{{ internship.start_date }}</td>
                <th>End Date</th>
                <td>{{ internship.end_date }}</td>
                <th>Work time</th>
                <td>{{ internship.work_time }}</td>
            </tr>
            <tr>
                <th>Work Days</th>
                <td>{{ internship.days }}</td>
            </tr>

            <tr>
                <th>Offer Letter</th>
                <td>
                    {% if has_offer_letter %}
                    <a href="{{ url_for('incharge.view_offer_letter') }}">View</a>
                    {% else %}
                    <p>Not Submitted yet</p>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Completion Certificate</th>
                <td>
                    {% if has_certificate %}
                    <a href="{{ url_for('incharge.view_certificate') }}">View</a>
                    {% else %}
                    <p>Not Submitted yet</p>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Report</th>
                <td>
                    {% if has_report %}
                    <a href="{{ url_for('incharge.view_feedback') }}">View</a>
                    {% else %}
                    <p>Not Submitted yet</p>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Feedback</th>
                <td>
                    {% if has_feedback %}
                    <a href="{{ url_for('incharge.view_feedback') }}">View</a>
                    {% else %}
                    <p>Not Submitted yet</p>
                    {% endif %}
                </td>
            </tr>
        </table>


    </div>

    {% if not is_acknowledged %}
    <form method="POST" action="{{ url_for('incharge.approve') }}">
        <input type="submit" name="action" value="Approve">
    </form>
    <form method="POST" action="{{ url_for('incharge.reject') }}">
        <textarea id="rejection_reason" name="rejection_reason" rows="4" cols="50" style="display: none;"></textarea>
        <button type="button" id="rejection_btn" onclick="showRejectionReason()">Reject</button>
        <input type="submit" name="action" value="Reject" id="submitButton" style="display: none;">
    </form>
    {% endif %}


</body>

<script>
    function showRejectionReason() {
        document.getElementById('rejection_reason').style.display = 'block'; 
        document.getElementById('rejection_btn').style.display= 'none';
        document.getElementById('submitButton').style.display = 'block';
        document.getElementById('rejectButton').disabled = true;
    }
</script>

</html>