<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <title>Login</title>
  
  </head>
  <body>
    <div class="content">
      <form action="{{ url_for('login') }}" method="post">
        <h1>Login</h1>
        <div class="fillups" id="fillup1">
          <label for="">Username: </label>
          <input type="text" name="username" class="inputs" />
        </div>
        <br />
        <div class="fillups">
          <label for="">Password</label>
          <input type="password" name="password" class="inputs" />
        </div>
        <br />
        <input type="submit" value="Login" class="button" />
      </form>
    </div>
  </body>
</html>
