<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="">Accademic Year Report</a></li>
        <li><a href="{{ url_for('report.last_three_years') }}">Last Three Years </a></li>
        <li><a href="">In-House</a></li>
        <li><a href="">Out-House</a></li>
        <li><a href="">Year Summary</a></li>
        <li><a href="">Roll Wise Report</a></li>
        <li><a href="">Company Summary</a></li>
    </ul>
</body>
</html>