<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'report_table.css') }}">
    <title>Document</title>
</head>
<body>
    <img class="logo" src="{{ url_for('static', filename = 'images/logo.png') }}" alt="">
    {% if company_report %}
    <h2>Company : {{ company }}</h2>
    {% endif %}
    {% if current_year %}
    <h2>{{ current_year-3 }} - {{ current_year }} Summary</h2>
    {% endif %}

    <table>
        <tr>
            <th>Student Name</th>
            <th>Class</th>
            <th>Internship Type</th>
            <th>Internship Mode</th>
            <th>Duration</th>
            <th>Start Date</th>
            <th>End Date</th>
            {% if current_year %}
            <th>Company</th>
            {% endif %}
        </tr>
        {% for d in data %}

        <tr>
            <td>{{ d["student"] }}</td>  
            <td>{{ d["class"] }}</td>
            <td>{{ d["type"] }}</td>
            <td>{{ d["mode"] }}</td>
            <td>{{ d["duration"] }}</td>
            <td>{{ d["start date"] }}</td>
            <td>{{ d["end date"] }}</td>
            
            {% if current_year %}
            <td>{{ d["company"] }}</td>
            {% endif %}
        
        </tr>
        {% endfor %}
    </table>



</body>
</html>